.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
    z-index: 1;

    &--footer {
        color: #0F1F1C;
        padding-bottom: 74px;
    }
}

.nav__logo {
    a {
        color: inherit;
    }
    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        
        color: #FFFFFF
    }

    &--footer h2 {
        color: #FF7C4E;

    }
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    a {
        color: inherit;
        position: relative;
    }

    a.active::after, 
    a:hover::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 10px;
        bottom: -6px;
        height: 4px;
        border-radius: 100px;
        background-color:#C4C4C4;
    }

    &--footer {
        color: #838B89
    }
    &--footer a.active::after,
    &--footer a:hover::after {
        display: none;
    }
    &--footer a.active,
    &--footer a:hover {
        color: #FF7C4E;
    }
}

.nav__login {
    display: flex;
    column-gap: 25px;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;



    &--footer li:first-child {
        a {
            color: inherit;
        }
        margin-right: 66px;
        color: #838B89;
    }
}