.subscribe {
    padding-top: 135px;
    padding-bottom: 106px;
    &__content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__title {
        max-width: 494px;
        font-weight: 600;
        font-size: 55px;
        line-height: 82px;
        padding-bottom: 60px;
    }

}
.subscribe-form {
    display: flex;
    column-gap: 20px;
    border-radius: 35px;
    background-color: #fff;
    padding: 12px 15px 12px 46px;
    &__inpute {
        width: 500px;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        
        
        color: #0F1F1C;
        &::placeholder {
            opacity: 0.5
        }
    }
    &__button {
        padding: 34px 86px;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        
        color: #FFFFFF;
        background: var(--orange-color);
        border-radius: 35px;
        box-shadow: 2px 2px 10px #3d3c3c;
        &:hover {
                background: linear-gradient(12.54deg, #f34e17 15.57%, #5b1103 95.03%), #FFFFFF;
        
            }
        
        &:active {
            box-shadow: 0px 0px 0px #3d3c3c;
            position: relative;
            top: 1px
        }

    }
}

// MEDIA 

@media (max-width: 1000px) {
    .subscribe-form__inpute {
        width: 330px;
    }
}
@media (max-width: 850px) {
    .subscribe {
            padding-top: 50px;
            padding-bottom: 56px;
        }
    .subscribe__title {
            font-size: 45px;
            padding-bottom: 40px;
        }
    .subscribe-form {
        border-radius: 25px;
        &__inpute {
            width: auto;
            font-size: 22px;
        }

        &__button {
            padding: 21px 66px;
            font-weight: 600;
            font-size: 22px;
            border-radius: 17px;
        }
    }
}
@media (max-width: 640px) {
    .subscribe__title {
            font-size: 40px;
            padding-bottom: 30px;
        }
    .subscribe-form {
        &__inpute {
            font-size: 18px;
        }

        &__button {
            padding: 16px 36px;
            font-size: 22px;
            border-radius: 14px;
        }
    }
}
@media (max-width: 520px) {

    .subscribe__title {
            font-size: 30px;
            padding-bottom: 20px;
        }
    .subscribe-form {
        padding: 12px 15px 12px 15px;
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        &__inpute {
            text-align: center;
            width: 300px;
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
}